/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding         : 0;
    margin          : 0;
    background-color: #e5e5e5;
    font-family     : "Source Sans Pro", sans-serif;
    font-weight     : 400;
    font-size       : 16px;
    line-height     : 1.5;
  }
  
  .obal {
    width: 960px;
    /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto;
    /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  /* ----- zde začni psát vlastní CSS ----- */

.lista{
display: flex;
flex-direction: row;
justify-content: space-around;
color: #48418e;
list-style:none;
text-align: center;
margin-top: 10px;
padding-bottom: 20px;
padding-top: 10px;
}

.Appka{

text-transform: uppercase;
font-weight: 700;
}




.stred{
    background-image: url(images/pozadi.jpg);
    background-position: center;
    height: 470px;
    padding-left: 60px;
    position: relative;
    color: white;
    margin-top: -70px;
        
}

.telefon{
    position: absolute;
    padding-left: 495px;
    margin-top: -251px;
}

h1{
    color: white;
    font-weight: 400;
    font-size: 80px;
    padding-top: 30px;
    margin-bottom: 0px;
    
}

h2{
    color: white;
    font-size:30px;
    font-weight: 200;
    padding-top: -50px;
    padding-bottom: 30px; ;
}

.tlacitka{
display: flex;
flex-direction: row;
list-style : none;
color: white;
border-radius: 6px;

}

.prvni{
    border: solid 1px white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-left: -37px;
    margin-right: 30px;
    background-color: #48418e;
    color: white;
    border-radius: 7px;
    text-decoration: none;
}

.druhy{
    border: solid 1px white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    color: white;
    border-radius: 7px;
}

.zdarma{
    border: 1px solid white;
}

.info{
    border: 1px solid white;
}



.obal{
    margin-right: 50px;
    margin-left: 50px;
}

.kolecka{
display: flex;
flex-direction: row;
justify-content: space-around;
text-align: center;
padding-top: 50px;
width: 960px;
color          : #48418e;
}

.letadlo{
    width: 80px;
}

.bubliny{
    width: 80px;
    
}

.mapy{
    width: 80px;
    
}

footer{
    background-color:#48418e ;
    color:white;
    text-align: center;
    width: 960px;
    
}
